// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 1279px,
// );

$container-max-widths: (
  xs: 375px,
  sm: 540px,
  md: 768px,
  lg: 1280px,
);

// $Grotesque: "BasisGrotesquePro-Regular";
// $GrotesqueL: "BasisGrotesquePro-Light";
// $GrotesqueB: "BasisGrotesquePro-Bold";
$basis: 'BasisGrotesquePro',Arial,sans-serif;

$bg-dark: #1D1D1D;
$bg: #F9F9F9;
$blue: #1140FF;
$white: #FFF;
$light: #F9F9F9;
$gray: rgba(249, 249, 249, 0.5);